<!DOCTYPE html>
<!--[if lt IE 7]>
<html class = "no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->

<!--[if IE 7]>
<html class = "no-js lt-ie9 lt-ie8">

<![endif]-->

<!--[if lte IE 7]>
<script src = "js/lte-ie7.js"></script>
<![endif]-->
<!--[if IE 8]>
<html class = "no-js lt-ie9">

<![endif]-->

<!--[if gt IE 8]><!-->
<html class = "no-js">

<!--<![endif]-->

<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1">
	<title><%= name %></title>
	<meta name = "description" content = "<%= description %>">
	<meta name = "keywords" content = "<%= keywords %>">
	<meta name = "viewport" content = "width=device-width">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel = "stylesheet" href = "css/style.css">
	<script src = "js/components/modernizr/modernizr.js"></script>
</head>

<body>
<div class = "container">
	<header>
		<label for = "toggle-nav" class = "btn responsive-grid centred show-phone"><i class = "icon-list-2"></i></label>
		<input type = "checkbox" class = "toggle-nav visuallyhidden" id = "toggle-nav" checked = "checked">
		<nav>
			<ul>
				<li><a data-icon = "! " href = "#">Home</a></li>
				<li><a data-icon = "# " href = "#">About</a></li>
				<li><a data-icon = "d " href = "#">Download</a></li>
				<li><a data-icon = "B " href = "#">FAQ</a></li>
				<li><a data-icon = "5 " href = "#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<article role = "main" id = "content">
		<p>Article content goes here</p>
	</article>
	<footer>
		<nav>
			<ul>
				<li><a data-icon = "" href = "#">Link 1</a></li>
				<li><a data-icon = "" href = "#">Link 2</a></li>
				<li><a data-icon = "" href = "#">Link 3</a></li>
				<li><a data-icon = "" href = "#">Link 4</a></li>
			</ul>
		</nav>
	</footer>
</div>


<script src = "js/components/jquery/jquery.min.js"></script>
<script src = "js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!-- 			<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script> -->
</body>
</html>